[user]
	name = ta-kumi
	email = 33344708+ta-kumi@users.noreply.github.com
[core]
	quotepath = false
	ignorecase = false
	safecrlf = true
	autocrlf = false
[push]
	default = simple
[pull]
	ff = only
[merge]
	ff = false
[color]
	ui = true
